.fish__image {
    max-height: 10rem;
    padding: 1rem;
}

.fishes {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.fish {
     flex-basis: 16%;
     border: 1px dotted palevioletred;
     margin: 1rem;
}