.location__image {
    max-height: 10rem;
    padding: 1rem;
}

.locations {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.location{
    flex-basis: 16%;
    border: 1px dotted palevioletred;
    margin: 1rem;
}

.location__name {

}