@import "/styles/fishes.css";
@import "/styles/tips.css";
@import "/styles/quotes.css";
@import "/styles/locations.css";


.bodyHeader  {
    text-align: center;
    margin: 3rem;
}

.container {
    display: flex;
}

.bordered {
    border: 1px dotted mediumaquamarine;
}