@import "/styles/fishes.css";
@import "/styles/tips.css";
@import "/styles/quotes.css";
@import "/styles/locations.css";


.bodyHeader  {
    text-align: center;
    margin: 3rem;
    border: solid grey;
    border-radius: 25px;
}

.container {
    display: flex;
}

.bordered {
    border: 1px solid mediumaquamarine;
    border-radius: 25px;
   
   
}
